POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SCHEMA=am
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_ENABLED=false
DEFAULT_FROM_EMAIL=
EMAIL_FROM_NAME=Animation Messe
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
